### IntelliJ IDEA ###
out/
!**/src/main/**/out/
!**/src/test/**/out/

### Eclipse ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
bin/
!**/src/main/**/bin/
!**/src/test/**/bin/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
.vscode/

### Mac OS ###
.DS_Store
savings/5k.dat
savings/aaaa.dat
savings/aaaaa.dat
savings/prova6k.dat
savings/prova7k.dat
savings/provacondaniele.dat
savings/provaconrosanna.dat
savings/daIgnorare.dat
savings/provaancora.dat
